In [1]:
import pyodbc
import pandas as pd
import gc

First establish connection with database.

In [2]:
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=10.183.135.105\SQLEXPRESS;DATABASE=RSM_DDB_DB;UID=cu_user_3;PWD=?X#/bjwVcfAw2J/c')

Error: ('01000', "[01000] [unixODBC][Driver Manager]Can't open lib 'ODBC Driver 17 for SQL Server' : file not found (0) (SQLDriverConnect)")

Now fetch all tables and save local copies of them. Be patient this will take a while, potentially >30 minutes.

You can expect total disk space usage to be ~5.5 GB

In [17]:
dim_blood_product = pd.DataFrame()
readFrame = pd.read_feather("../data/raw/dim_blood_product.feather")
readFrame.tail()
#del dim_blood_product
#gc.collect()

                   dim_blood_product_id    blood_product_type
2  97412C1A-1127-EB11-80C7-005056AF16E2         Plasma_Volume
3  98412C1A-1127-EB11-80C7-005056AF16E2       Platelet_Volume
4  99412C1A-1127-EB11-80C7-005056AF16E2  Platelet_Yield_Index
5  9A412C1A-1127-EB11-80C7-005056AF16E2  Rbc_Prefilter_Volume
6  9B412C1A-1127-EB11-80C7-005056AF16E2    Whole_Blood_Volume

In [20]:
dim_config = pd.DataFrame()
dim_config = pd.read_feather("../data/raw/dim_configuration.feather")
dim_config.tail()

,dim_configuration_id,run_data_configuration_id,configuration_name,protocol_name,protocol_adpt_name,configuration_status
5742,A124989C-1127-EB11-80C7-005056AF16E2,4D258BC9-2740-45A4-950F-B1B7791A922C,US SUT,US SUT,US SUT_2019_05_30_14_49_03,Service
5743,A224989C-1127-EB11-80C7-005056AF16E2,CB1A4F91-F35A-4938-A2B9-6EC12735F0EF,rus smoke test,Rus Smoketest,Smoke Test 2_2014_10_29_15_08_39,Service
5744,A324989C-1127-EB11-80C7-005056AF16E2,B9D28A29-1986-421E-B1FA-BB4902B58CC5,NO_PT,RV_2C_ON_Blood_V1_10_002_2015_,Blood_V1_10_002_2015_03_11_16_42_53,Routine
5745,A424989C-1127-EB11-80C7-005056AF16E2,95844A15-2F78-4F0E-996B-F0894CE22AEA,GUI Show,GUI only,ShowOffGUI3C_0501_2014_05_01_08_57_50,Service
5746,A524989C-1127-EB11-80C7-005056AF16E2,A733C350-E034-4B1C-83B6-FB01D12E00AE,New 3C Fresh Blood,New 3C Fresh Blood,V1_11_002_2017_08_01_12_23_23,Routine

In [19]:
dim_custom_data_01 = pd.DataFrame()
dim_custom_data_01 = pd.read_feather("../data/raw/dim_custom_data_01.feather")
dim_custom_data_01.tail()

,run_data_donation_id,dim_custom_data_id,data001,data002,data003,data004,data005,data006,data007,data008,...,data041,data042,data043,data044,data045,data046,data047,data048,data049,data050
5283311,2960A7D9-AE1B-4001-BEE2-7E097A8F0095,71E30720-B567-4CC6-A28F-FFFFFC3BD20C,3,7,2600,28,500,500,500,500,...,1.5,10,0.9,1.1,0.8,100,1,9,20,32
5283312,6CD44FDF-693E-4497-B9E1-DACEC3748810,3A5DDEAA-5C9A-48E5-BCA0-FFFFFD61D229,2,7,2900,30,500,120,500,120,...,0.75,5,0.9,1.1,0.5,100,1,9,20,32
5283313,0C597B2E-4EBB-4FB6-8631-804D6824EEE1,6AD326BD-13AD-455B-BC8F-FFFFFE68941D,3,4.5,2600,28,300,120,300,120,...,1.5,10,0.9,1.1,0.8,100,1,9,20,32
5283314,C0511AF9-4FD9-4E0C-8F9E-3DC39F0327F7,AEBC2FC9-EBAF-46E0-9BB9-FFFFFF1F6BF0,3,7,2600,30,300,120,300,120,...,0.75,10,0.9,1.1,0.8,100,1.04,0,20,32
5283315,A7A5DCA3-9D1D-4FD0-B071-08C8DC641281,E3A5C5A2-AFB8-4292-9668-FFFFFFE22D8D,2,7,2900,30,500,120,500,120,...,0.75,5,0.9,1.1,0.5,100,1,9,20,32

In [21]:
dim_custom_data_02 = pd.DataFrame()
dim_custom_data_02 = pd.read_feather("../data/raw/dim_custom_data_02.feather")
dim_custom_data_02.tail()

,run_data_donation_id,dim_custom_data_id,data051,data052,data053,data054,data055,data056,data057,data058,...,data091,data092,data093,data094,data095,data096,data097,data098,data099,data100
4756195,DDA1AC39-1A06-48F2-90B7-FFFFF028B467,FC083B6A-92A6-476A-A80A-74BE0630C02E,0,100,1,10,18.5067138671875,15.448486328125,18.4566650390625,16.7191162109375,...,0,0,0,0,None,None,None,None,None,None
4756196,F9C1CCA3-4BF8-472E-90EF-FFFFF373C4B2,79A547D5-A6E9-4927-89C2-B48955CCCE7F,0,100,1,13,0,0,0,0,...,0,0,0,0,None,None,None,None,None,None
4756197,40CFF8FD-B757-415D-AC0A-FFFFFD1E73B6,B76639BB-DC78-4711-9955-76AD8A8CF80A,0,100,1,13,0,0,0,0,...,0,0,0,0,None,None,None,None,None,None
4756198,3825B22E-9701-4A96-95AE-FFFFFD4424E9,3A2D6336-AD48-495D-9346-309264760B34,50,58,1,13,0,0,0,0,...,None,None,None,None,None,None,None,None,None,None
4756199,DED723C8-D323-468E-A079-FFFFFEB23757,D603C2E5-B910-4E9C-AF96-2B20BCD65FAB,0,100,1,10,18.8612670898438,0,17.955078125,0,...,0,0,0,0,None,None,None,None,None,None

In [22]:
dim_custom_data_03 = pd.DataFrame()
dim_custom_data_03 = pd.read_feather("../data/raw/dim_custom_data_03.feather")
dim_custom_data_03.tail()

,run_data_donation_id,dim_custom_data_id,data101,data102,data103,data104,data105,data106,data107,data108,...,data141,data142,data143,data144,data145,data146,data147,data148,data149,data150
14903,0906F43B-02D2-4A8D-B050-FFF4EC3995E3,3E8DD902-9379-481D-9BD3-319B1182568A,300,120,300,300,120,66,30,10,...,-6,-6,0,2600,2900,1800,0,1800,0,1800
14904,E6421BD7-95F5-4715-8193-FFF72060246C,4A59DB64-99D3-49C0-9357-F90AD8483D61,300,120,300,300,120,66,30,10,...,-6,-6,0,2600,2900,1000,1,2900,180,1800
14905,A71A17A4-0FEC-41EF-906B-FFFA85085B75,57DC05CC-94EA-4774-BC29-9A90BC17C9E3,300,120,300,300,120,66,30,10,...,-6,-6,0,2600,2900,1800,0,1800,0,1800
14906,B3C70C36-09F6-4C5B-8E64-FFFC27FE0DE8,00CDCAF8-AC69-42DC-886D-618AF70FA8F2,300,120,300,300,120,66,30,10,...,-6,-6,0,2600,2900,1800,0,1800,0,1800
14907,BA4C1ED3-72F6-4BE2-BBDD-FFFE60508DDD,6A715561-D049-4F47-BB55-9BAD1FA6F8FD,300,120,300,300,120,66,30,10,...,-6,-6,0,2600,2900,1800,0,1800,0,1800

In [24]:
dim_custom_data_04 = pd.DataFrame()
dim_custom_data_04 = pd.read_feather("../data/raw/dim_custom_data_04.feather")
dim_custom_data_04.tail()

,run_data_donation_id,dim_custom_data_id,data151,data152,data153,data154,data155,data156,data157,data158,...,data190,data191,data192,data193,data194,data195,data196,data197,data198,data199
14903,0906F43B-02D2-4A8D-B050-FFF4EC3995E3,3E8DD902-9379-481D-9BD3-319B1182568A,1600,0,0,-3000,100000,0.5,20,52,...,None,None,None,None,None,None,None,None,None,None
14904,E6421BD7-95F5-4715-8193-FFF72060246C,4A59DB64-99D3-49C0-9357-F90AD8483D61,1600,0,0,-3000,100000,0.5,20,52,...,None,None,None,None,None,None,None,None,None,None
14905,A71A17A4-0FEC-41EF-906B-FFFA85085B75,57DC05CC-94EA-4774-BC29-9A90BC17C9E3,1600,0,0,-3000,100000,0.5,20,52,...,None,None,None,None,None,None,None,None,None,None
14906,B3C70C36-09F6-4C5B-8E64-FFFC27FE0DE8,00CDCAF8-AC69-42DC-886D-618AF70FA8F2,1600,0,0,-3000,100000,0.5,20,52,...,None,None,None,None,None,None,None,None,None,None
14907,BA4C1ED3-72F6-4BE2-BBDD-FFFE60508DDD,6A715561-D049-4F47-BB55-9BAD1FA6F8FD,1600,0,0,-3000,100000,0.5,20,52,...,None,None,None,None,None,None,None,None,None,None

In [41]:
dim_run = pd.DataFrame()
dim_run = pd.read_feather("../data/raw/dim_run.feather")
dim_run.tail()

,run_id,dim_run_id,file_name,run_number,first_barcode_scantime,last_barcode_scantime,barcode_skip_status,start_datetime,operator_id
1329730,BC742DA6-CF81-42D4-BE22-FFFEE0A996D1,05F2018E-1127-EB11-80C7-005056AF16E2,1W00248_20180714_001_007035.dlog,7035,None,None,None Skipped,2018-07-14 08:45:57.000,None
1329731,C32352E6-8079-4C85-84EC-FFFE7A8E114C,06F2018E-1127-EB11-80C7-005056AF16E2,1W00210_20190327_009_008420.dlog,8420,None,None,None Skipped,2019-03-27 15:03:19.000,121372
1329732,2B5DAFC8-4193-408D-B918-FFFF80C7FA3D,07F2018E-1127-EB11-80C7-005056AF16E2,1W00193_20200813_000_012342.dlog,12342,None,None,None Skipped,2020-08-13 15:01:29.000,114713
1329733,79896079-F111-47AF-B638-FFF6D800EB07,08F2018E-1127-EB11-80C7-005056AF16E2,1W00115_20180623_005_023449.dlog,23449,None,None,None Skipped,2018-06-23 07:20:13.000,00PMCA
1329734,781D563A-CDC7-47BC-ACF3-FFFC2FE1A8E1,09F2018E-1127-EB11-80C7-005056AF16E2,1W00123_20140722_004_004215.dlog,4215,None,None,None Skipped,2014-07-22 02:35:46.220,A0008559A

In [29]:
dim_operator = pd.DataFrame()
dim_operator = pd.read_feather("../data/raw/dim_operator.feather")
dim_operator.tail()

                           dim_operator_id       operator_id
3240  B4B55BA5-1127-EB11-80C7-005056AF16E2              ZJJX
3241  41B55BA5-1127-EB11-80C7-005056AF16E2              ZJT2
3242  90B55BA5-1127-EB11-80C7-005056AF16E2  ZLLMRC93D25H282B
3243  A1B85BA5-1127-EB11-80C7-005056AF16E2          ZSunaydi
3244  97B75BA5-1127-EB11-80C7-005056AF16E2              ZY Z

In [40]:
dim_donation = pd.DataFrame()
dim_donation = pd.read_feather("../data/raw/dim_donation.feather")
dim_donation.tail()

,donation_id,dim_donation_id,donation_status,bucket_number,unit_number,unit_number_lifetime_status,operator_id,welding_status,run_datetime
5318935,F8C32E89-63D2-4493-8E6F-F7E17D97CE82,BDFB1437-1127-EB11-80C7-005056AF16E2,Complete,3,500312,Complete,None,Weld Successful,2018-03-11 15:51:38
5318936,475D8A4B-80E5-456E-BB03-F7DB940F3C09,BEFB1437-1127-EB11-80C7-005056AF16E2,Complete,1,160819003538,Complete,0020,Weld Successful,2019-07-19 10:07:40
5318937,D41EBB84-64CF-47DF-B75E-FE3EB0FBED4F,BFFB1437-1127-EB11-80C7-005056AF16E2,Complete,3,16093579,Complete,48E506,Weld Successful,2016-09-21 14:04:29
5318938,DCD32C37-7503-4D63-8E04-FB05B10985F3,C0FB1437-1127-EB11-80C7-005056AF16E2,Complete,4,=J00301901224901,Complete,JULIBE,Weld Successful,2019-07-22 12:59:02
5318939,92963A3B-D817-488D-BD65-FE3E1EEFBA24,C1FB1437-1127-EB11-80C7-005056AF16E2,Complete,2,0124200626022,Complete,1619543,Weld Successful,2020-06-26 16:55:56

In [31]:
dim_exception = pd.DataFrame()
dim_exception = pd.read_feather("../data/raw/dim_exception.feather")
dim_exception.tail()

,run_data_message_entry_id,dim_exception_id,alarm_id,bucket_number,message,time_stamp,exception_type,exception_state,run_datetime
599262,477B4F97-32D7-4807-83CB-B9710C3D04FA,1816C26C-1127-EB11-80C7-005056AF16E2,1069,NaN,1069 Fuga detectada,2018-04-24 20:24:46.000,Alert,PostRun,2018-04-24 20:07:35.000
599263,3F858B48-2582-4B59-9198-B978E9329996,1916C26C-1127-EB11-80C7-005056AF16E2,1016,NaN,1016 ID del operador no válida,2020-02-29 08:42:43.000,Alert,PreRun,2020-02-29 08:44:31.000
599264,EAF8F123-A42A-4B06-A387-B978FB64FEE3,1A16C26C-1127-EB11-80C7-005056AF16E2,1016,NaN,1016 ID del operador no v??lida,2014-01-29 14:19:09.863,Alarm,None,2014-01-29 14:19:38.567
599265,79EA705D-653B-4C6C-9FD2-B96F63CE6250,1B16C26C-1127-EB11-80C7-005056AF16E2,1064,4.0,1064 Tom behållare upptäckt,2018-08-10 06:11:02.000,Alert,PreRun,2018-08-10 06:11:24.000
599266,8CF5E5F7-59F9-42AC-841B-B97AF56E4E9F,1C16C26C-1127-EB11-80C7-005056AF16E2,1069,NaN,1069 Fuga detetada,2015-08-03 09:34:28.000,Alert,PostRun,2015-08-03 08:55:29.000

In [32]:
dim_facility = pd.DataFrame()
dim_facility = pd.read_feather("../data/raw/dim_facility.feather")
dim_facility.tail()

,dim_facility_id,facility_name,facility_timezone
348,2E0E989C-1127-EB11-80C7-005056AF16E2,BCT EOT Lab,Mountain Standard Time;-420;(UTC-07:00) Mounta...
349,2F0E989C-1127-EB11-80C7-005056AF16E2,Demo Deutschland,Pacific Standard Time;-480;(UTC-08:00) Pacific...
350,300E989C-1127-EB11-80C7-005056AF16E2,Jena,"Romance Standard Time;60;(UTC+01:00) Brussels,..."
351,310E989C-1127-EB11-80C7-005056AF16E2,Pizza Hut,Mountain Standard Time;-420;(UTC-07:00) Mounta...
352,320E989C-1127-EB11-80C7-005056AF16E2,Universitaetsklinikum Halle,E. Europe Standard Time;120;(UTC+02:00) E. Eur...

In [33]:
dim_operator = pd.DataFrame()
dim_operator = pd.read_feather("../data/raw/dim_operator.feather")
dim_operator.tail()

                           dim_operator_id       operator_id
3240  B4B55BA5-1127-EB11-80C7-005056AF16E2              ZJJX
3241  41B55BA5-1127-EB11-80C7-005056AF16E2              ZJT2
3242  90B55BA5-1127-EB11-80C7-005056AF16E2  ZLLMRC93D25H282B
3243  A1B85BA5-1127-EB11-80C7-005056AF16E2          ZSunaydi
3244  97B75BA5-1127-EB11-80C7-005056AF16E2              ZY Z

In [34]:
dim_run = pd.DataFrame()
dim_run = pd.read_feather("../data/raw/dim_run.feather")
dim_run.tail()

,run_id,dim_run_id,file_name,run_number,first_barcode_scantime,last_barcode_scantime,barcode_skip_status,start_datetime,operator_id
1329730,BC742DA6-CF81-42D4-BE22-FFFEE0A996D1,05F2018E-1127-EB11-80C7-005056AF16E2,1W00248_20180714_001_007035.dlog,7035,None,None,None Skipped,2018-07-14 08:45:57.000,None
1329731,C32352E6-8079-4C85-84EC-FFFE7A8E114C,06F2018E-1127-EB11-80C7-005056AF16E2,1W00210_20190327_009_008420.dlog,8420,None,None,None Skipped,2019-03-27 15:03:19.000,121372
1329732,2B5DAFC8-4193-408D-B918-FFFF80C7FA3D,07F2018E-1127-EB11-80C7-005056AF16E2,1W00193_20200813_000_012342.dlog,12342,None,None,None Skipped,2020-08-13 15:01:29.000,114713
1329733,79896079-F111-47AF-B638-FFF6D800EB07,08F2018E-1127-EB11-80C7-005056AF16E2,1W00115_20180623_005_023449.dlog,23449,None,None,None Skipped,2018-06-23 07:20:13.000,00PMCA
1329734,781D563A-CDC7-47BC-ACF3-FFFC2FE1A8E1,09F2018E-1127-EB11-80C7-005056AF16E2,1W00123_20140722_004_004215.dlog,4215,None,None,None Skipped,2014-07-22 02:35:46.220,A0008559A

In [35]:
fact_blood_product = pd.DataFrame()
fact_blood_product = pd.read_feather("../data/raw/fact_blood_product.feather")
fact_blood_product.tail()

,dim_run_date,dim_device_id,dim_donation_id,dim_custom_data_id,dim_run_id,dim_facility_id,dim_configuration_id,dim_operator_id,dim_blood_product_id,product_volume,number_of_units_processed
17971043,2020-10-04,DD472C1A-1127-EB11-80C7-005056AF16E2,AFE93B36-1127-EB11-80C7-005056AF16E2,None,46B35D8A-1127-EB11-80C7-005056AF16E2,240D989C-1127-EB11-80C7-005056AF16E2,E416989C-1127-EB11-80C7-005056AF16E2,None,99412C1A-1127-EB11-80C7-005056AF16E2,75,1
17971044,2020-10-04,DD472C1A-1127-EB11-80C7-005056AF16E2,AFE93B36-1127-EB11-80C7-005056AF16E2,None,46B35D8A-1127-EB11-80C7-005056AF16E2,240D989C-1127-EB11-80C7-005056AF16E2,E416989C-1127-EB11-80C7-005056AF16E2,None,96412C1A-1127-EB11-80C7-005056AF16E2,13,1
17971045,2019-10-14,DD472C1A-1127-EB11-80C7-005056AF16E2,3B41EB2F-1127-EB11-80C7-005056AF16E2,None,8C6EDE8A-1127-EB11-80C7-005056AF16E2,240D989C-1127-EB11-80C7-005056AF16E2,E416989C-1127-EB11-80C7-005056AF16E2,None,96412C1A-1127-EB11-80C7-005056AF16E2,10,1
17971046,2019-10-14,DD472C1A-1127-EB11-80C7-005056AF16E2,3B41EB2F-1127-EB11-80C7-005056AF16E2,None,8C6EDE8A-1127-EB11-80C7-005056AF16E2,240D989C-1127-EB11-80C7-005056AF16E2,E416989C-1127-EB11-80C7-005056AF16E2,None,97412C1A-1127-EB11-80C7-005056AF16E2,216,1
17971047,2019-10-14,DD472C1A-1127-EB11-80C7-005056AF16E2,3B41EB2F-1127-EB11-80C7-005056AF16E2,None,8C6EDE8A-1127-EB11-80C7-005056AF16E2,240D989C-1127-EB11-80C7-005056AF16E2,E416989C-1127-EB11-80C7-005056AF16E2,None,98412C1A-1127-EB11-80C7-005056AF16E2,55,1

In [36]:
fact_donation = pd.DataFrame()
fact_donation = pd.read_feather("../data/raw/fact_donation.feather")
fact_donation.tail()

,dim_run_date,dim_device_id,dim_donation_id,dim_custom_data_id,dim_run_id,dim_facility_id,dim_configuration_id,dim_operator_id,number_of_units_processed,number_of_duplicated_units,number_of_skipped_barcodes,number_of_alarms,number_of_alerts
5318935,2020-11-10,A0492C1A-1127-EB11-80C7-005056AF16E2,F0617036-1127-EB11-80C7-005056AF16E2,6273B065-AF87-411B-8559-0DC00D3C39AC,DA967784-1127-EB11-80C7-005056AF16E2,860D989C-1127-EB11-80C7-005056AF16E2,D71A989C-1127-EB11-80C7-005056AF16E2,FAAC5BA5-1127-EB11-80C7-005056AF16E2,1,1,0,0,0
5318936,2013-10-24,A1492C1A-1127-EB11-80C7-005056AF16E2,BD541435-1127-EB11-80C7-005056AF16E2,None,641B9A87-1127-EB11-80C7-005056AF16E2,860D989C-1127-EB11-80C7-005056AF16E2,C322989C-1127-EB11-80C7-005056AF16E2,None,1,0,0,0,1
5318937,2013-10-24,A1492C1A-1127-EB11-80C7-005056AF16E2,D62DA835-1127-EB11-80C7-005056AF16E2,None,641B9A87-1127-EB11-80C7-005056AF16E2,860D989C-1127-EB11-80C7-005056AF16E2,C322989C-1127-EB11-80C7-005056AF16E2,None,1,0,0,0,1
5318938,2013-10-24,A1492C1A-1127-EB11-80C7-005056AF16E2,1DF04733-1127-EB11-80C7-005056AF16E2,None,641B9A87-1127-EB11-80C7-005056AF16E2,860D989C-1127-EB11-80C7-005056AF16E2,C322989C-1127-EB11-80C7-005056AF16E2,None,1,0,0,0,1
5318939,2013-10-24,A1492C1A-1127-EB11-80C7-005056AF16E2,1FF22034-1127-EB11-80C7-005056AF16E2,None,641B9A87-1127-EB11-80C7-005056AF16E2,860D989C-1127-EB11-80C7-005056AF16E2,C322989C-1127-EB11-80C7-005056AF16E2,None,1,0,0,0,1

In [38]:
fact_exception = pd.DataFrame()
fact_exception = pd.read_feather("../data/raw/fact_exception.feather")
fact_exception.tail()

,dim_run_date,dim_device_id,dim_run_id,dim_facility_id,dim_configuration_id,dim_operator_id,dim_exception_id,number_of_duplicated_units,number_of_reprocessed_units,number_of_inconclusive_sealed_units,number_of_unrecognized_barcodes,number_of_skipped_barcodes,number_of_temp_out_of_range_exceptions,number_of_alarms
599262,2013-10-24,A1492C1A-1127-EB11-80C7-005056AF16E2,641B9A87-1127-EB11-80C7-005056AF16E2,860D989C-1127-EB11-80C7-005056AF16E2,C322989C-1127-EB11-80C7-005056AF16E2,None,FF82566C-1127-EB11-80C7-005056AF16E2,0,0,0,0,0,0,1
599263,2013-10-24,A1492C1A-1127-EB11-80C7-005056AF16E2,641B9A87-1127-EB11-80C7-005056AF16E2,860D989C-1127-EB11-80C7-005056AF16E2,C322989C-1127-EB11-80C7-005056AF16E2,None,C5B2946C-1127-EB11-80C7-005056AF16E2,0,0,0,0,0,0,1
599264,2013-10-24,A1492C1A-1127-EB11-80C7-005056AF16E2,641B9A87-1127-EB11-80C7-005056AF16E2,860D989C-1127-EB11-80C7-005056AF16E2,C322989C-1127-EB11-80C7-005056AF16E2,None,3CF1836C-1127-EB11-80C7-005056AF16E2,0,0,0,0,0,0,1
599265,2013-10-24,A1492C1A-1127-EB11-80C7-005056AF16E2,641B9A87-1127-EB11-80C7-005056AF16E2,860D989C-1127-EB11-80C7-005056AF16E2,C322989C-1127-EB11-80C7-005056AF16E2,None,48DCAE6C-1127-EB11-80C7-005056AF16E2,0,0,0,0,0,0,1
599266,2013-10-24,A1492C1A-1127-EB11-80C7-005056AF16E2,641B9A87-1127-EB11-80C7-005056AF16E2,860D989C-1127-EB11-80C7-005056AF16E2,C322989C-1127-EB11-80C7-005056AF16E2,None,FF22B16C-1127-EB11-80C7-005056AF16E2,0,0,0,0,0,0,1

In [39]:
fact_run = pd.DataFrame()
fact_run = pd.read_feather("../data/raw/fact_run.feather")
fact_run.tail()

,dim_run_date,dim_device_id,dim_run_id,dim_facility_id,dim_configuration_id,dim_operator_id,procedure_duration_minutes,idle_time_duration_minutes,load_duration_minutes,unload_duration_minutes,...,run_duration_minutes,barcode_scan_duration_minutes,number_of_procedures,number_of_dummy_bags,number_of_barcode_scans,number_of_barcodes_skipped,start_basin_temperature,end_basin_temperature,max_basin_temperature,min_basin_temperature
1329730,2018-07-14,E5452C1A-1127-EB11-80C7-005056AF16E2,05F2018E-1127-EB11-80C7-005056AF16E2,240D989C-1127-EB11-80C7-005056AF16E2,4B22989C-1127-EB11-80C7-005056AF16E2,None,49.850000,22.683333,2.516667,1.116667,...,20.033333,1.633333,1,1,4,0,21.557,21.520,22.683,21.160
1329731,2019-03-27,88492C1A-1127-EB11-80C7-005056AF16E2,06F2018E-1127-EB11-80C7-005056AF16E2,080E989C-1127-EB11-80C7-005056AF16E2,F30F989C-1127-EB11-80C7-005056AF16E2,9FB25BA5-1127-EB11-80C7-005056AF16E2,30.816667,0.683333,4.016667,0.883333,...,21.633333,2.333333,1,0,11,0,21.301,21.632,22.597,20.904
1329732,2020-08-13,BE462C1A-1127-EB11-80C7-005056AF16E2,07F2018E-1127-EB11-80C7-005056AF16E2,DD0C989C-1127-EB11-80C7-005056AF16E2,471E989C-1127-EB11-80C7-005056AF16E2,8FB05BA5-1127-EB11-80C7-005056AF16E2,37.783333,0.133333,4.600000,1.250000,...,21.950000,2.950000,1,0,9,0,21.919,20.544,22.553,20.541
1329733,2018-06-23,FF442C1A-1127-EB11-80C7-005056AF16E2,08F2018E-1127-EB11-80C7-005056AF16E2,280D989C-1127-EB11-80C7-005056AF16E2,0419989C-1127-EB11-80C7-005056AF16E2,7AAC5BA5-1127-EB11-80C7-005056AF16E2,31.150000,4.083333,3.833333,0.150000,...,20.133333,2.116667,1,0,9,0,22.210,22.117,23.164,21.299
1329734,2014-07-22,A5482C1A-1127-EB11-80C7-005056AF16E2,09F2018E-1127-EB11-80C7-005056AF16E2,860D989C-1127-EB11-80C7-005056AF16E2,4F12989C-1127-EB11-80C7-005056AF16E2,A9B15BA5-1127-EB11-80C7-005056AF16E2,0.000000,0.000000,0.000000,0.000000,...,18.418867,1.483233,1,0,9,0,21.870,22.067,22.824,21.076