In [2]:
import pyodbc
import pandas as pd

In [3]:
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=10.183.135.105\SQLEXPRESS;DATABASE=RSM_DDB_DB;UID=cu_user_3;PWD=?X#/bjwVcfAw2J/c')
sql_query = pd.read_sql_query("""SELECT * FROM v_dim_blood_product""", conn)
df = pd.DataFrame(sql_query)
df

                   dim_blood_product_id    blood_product_type
0  328B6294-4726-EB11-80C7-005056AF16E2     Buffy_Coat_Volume
1  338B6294-4726-EB11-80C7-005056AF16E2      Leukocyte_Volume
2  348B6294-4726-EB11-80C7-005056AF16E2         Plasma_Volume
3  358B6294-4726-EB11-80C7-005056AF16E2       Platelet_Volume
4  368B6294-4726-EB11-80C7-005056AF16E2  Platelet_Yield_Index
5  378B6294-4726-EB11-80C7-005056AF16E2  Rbc_Prefilter_Volume
6  388B6294-4726-EB11-80C7-005056AF16E2    Whole_Blood_Volume